* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.grey {
  background-color: #33475b;
}

.font-white {
  color: white;
}

.left {
  float: left;
}

.right {
  float: right;
}

.clearfix {
  display: table;
  clear: both;
  content: "";
}

.top-bar {
  height: 10vh;
  width: 95vw;
  margin: auto;
  line-height: 10vh;
}

.imagebar img {
  height: 4vh;
}

.padd * {
  padding: 0 5px;
}


.left  > * {
  float: left;
}

.right > * {
  float: right;
}

.top-margin {
  margin-top: 1vh;
  }

.stickybar {
  position: sticky;
}

.lightgreen {
  background-color: #f5f8fa
}

.contain {
  width: 85vw;
  margin: auto;
  height: 100%;
}

.height-line {
  height: 15vh;
  line-height: 15vh;
}

#log-in {
  color: #ff7a59;
  background: #fff;
  border: 1px solid #ff7a59;
  border-radius: 0.1875rem;
  text-align: center;
  padding: 1vh;
  margin: 5vh 1vh 1vh 1vh;
  line-height: 100%;
}

#gethub {
  color: #fff;
  background-color:#ff7a59;
  border: 1px solid #ff7a59;
  border-radius: 0.1875rem;
  text-align: center;
  padding: 1vh;
  margin: 5vh 1vh 1vh 1vh;
  line-height: 100%;
}

header {
  height: 500px;
  background-image: url("img/header.png");

  background-size: cover;
}

.relative {
  position: relative;
}

.pd-50 {
  padding-top: 50px;
}

.pd-20 {
  padding-top: 20px;
}

.head-cont {
  height: 500px;
  width: 400px;
}

.head-all {
  position: absolute;
  top: 15%;
}

#getfree {
  color: black;
  background: white;
  border-radius: 0.1875rem;
  text-align: center;
  padding: 2px;
  margin-top: 20px;
  line-height: 100%;
  width: 50%;
}
