* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.grey {
  background-color: #33475b;
}

.font-white {
  color: white;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.clfix::after {
  display: table;
  clear: both;
  content: "";
}

.top-bar {
  height: 10vh;
  width: 90vw;
  margin: auto;
  line-height: 10vh;
}

.padd * {
  padding: 0 5px;
}


.top-bar img {
  height: 4vh;
}

.top-left > * {
  float: left;
}

.top-right > * {
  float: right;
}

.top-margin {
  margin-top: 1vh;
  }
