* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

.topbar {
  width: 100%;
  background: #f5f8fa;
  height: 50px;
  border-bottom: 1px solid #cbd6e2;
}

.container {
  width: 70%;
  height: 100%;
  margin: auto;
}

.topbar-left , .topbar-right {
  float: left;
  width: 50%;
  height: 100%;
  line-height: 50px;
}

.topbar-left .fa-caret-down.with-border {
    border-right: 2px solid black;
}

.topbar-left > * {
  padding: 0 15px;
}

.topbar-right {
  text-align: right;
}

.topbar-right > a {
  margin: 0 20px;
  text-decoration: none;
}

.topbar-right a:first-child {
  color: #33475b;
}

.button {
  padding: 8px 20px;
  border-radius: 4px;
  text-decoration: none;
}

.button-primary {
  color: white;
  background: #ff7a59;
}

.button-secondary {
  color: #ff7a59;
  background: white;
  border: 1px solid #ff7a59;
}

.button-listen {
  color: #33475b;
    background: white;
    padding: 10px 20px;
}

nav {
  width: 100%;
  height: 70px;
}

.navbar-left , .navbar-right {
  float: left;
  line-height: 70px;
}

.navbar-left {
  width: 30%;
  height: 100%;
}

.navbar-right {
 width: 70%;
 height: 100%;
 text-align: right;
}

.navbar-right a {
  text-decoration: none;
  color: #33475b;
  margin: 0 20px;
}

.navbar-right a > i {
  margin: 0 8px;
}

.navbar-left > img {
  margin: 22px 0 0 17px;
}

.disclaimer {
  background: #33475b;
  height: 70px;
  width: 100%;
  color: white;
}

.disclaimer-left {
  float: left;
  width: 80%;
  height: 100%;
  position: relative;
}

.disclaimer-left > p {
  position: relative;
  top: 50%;
  left: 0;
  transform: translatey(-50%);
  margin-left: 10px;
}


.disclaimer-right {
  float: left;
  height: 100%;
  width: 20%;
  line-height: 70px;
  text-align: right;
}

.disclaimer-right > a {
  margin-right: 20px;
}

header {
  background: linear-gradient(to right, #09A7BF, rgba(18, 182, 207, 0.55));
  border-bottom: 3px solid black;
  width: 100%;
  color: white;
}

.header-left {
  width: 50%;
  padding: 120px 0;
}

.header-left > h1 {
  font-size: 51px;
}

.mt-40 {
  margin-top: 40px;
}

.mb-40 {
  margin-bottom: 40px;
}

main {
  padding: 80px 0;
  width: 100%;
  background: #f5f8fa;
}

.main-top , .main-body , .main-footer {
  width: 100%;
  height: 300px;
}

.main-top {
  text-align: center;
  padding: 0 120px;
  height: 100%;
}

.main-top > img {
  width: 300px;
}

.main-body {
  background: white;
}

.main-body-left , .main-body-right {
  float: left;
}

.main-body-left {
  width: 35%;
  text-align: center;
  height: 100%;
  position: relative;
}

.main-body-right {
  width: 55%;
  height: 100%;
  position: relative;
}

.main-body-left img {
  width: 100%;
  height: 150px;
}

.main-body-right-absolute {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translatey(-50%);

}

.main-body-left-absolute {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translatey(-50%);
  width: 100%;

}

.main-body-right-absolute span:after {
    content: '';
    position: absolute;
    top: 109px;
    right: 0;
    width: 70%;
    height: 2px;
    background: black;
}

.main-content-body-icon ul {
  list-style: none;
}

.main-content-body-icon ul li {
  margin-right: 20px;
  display: inline-block;
}

.main-content-body-icon ul li i {
  margin-right: 10px;
  color: #ff7a59;
}
